netwsecvenv/
.git/
.github/
.vscode/
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
networksecurity.egg-info/
dist/
build/
.eggs/
mlruns/
*.log
logs/
Network_Data/
artifacts/
notebooks/
screenshots/
.env
.gitignore
.dockerignore
README.md
test_mongodb.py
test_connection.py
drop_db.py
estimate_size.py
attack_count.py