netwsecvenv/
.env
__pycache__/
*.pyc
*.pyd
*.pyo
.DS_Store
.vscode/
*.egg-info/
networksecurity.egg-info/
dist/
build/
.eggs/
mlruns/
*.log
logs/
test_mongodb.py
drop_db.py
estimate_size.py
attack_count.py
Wednesday-workingHours.pcap_ISCX.csv
Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
artifacts/
test_connection.py
saved_models/
logs/predictions.log
